body{
	background-color: #8585AD;
}

h1{
  text-align: center;  
}
#searchContainer{
    width: 100%;
    text-align: center;
}

#searchField{
    width: 25%;
}

#searchSubmit{
    font-size: 20px;
}

#resultsContainer{
	width: 50%;
}

ul{
	list-style-type: none;
}

li{
	height: 50px;
	border-style: solid;
	border-radius: 2px;
	border-width: 4px;
	background-color: #99D6FF;
	margin-top: 15px;
	
}