html{
	background-color: light-gray;
}

h1{
  text-align: center;  
}
#searchContainer{
    width: 100%;
    text-align: center;
}

#searchField{
    width: 25%;
}

#searchSubmit{
    font-size: 20px;
}