body{
	background-color: #8585AD;
}

h1{
  text-align: center;  
}
#searchContainer{
    width: 100%;
    text-align: center;
}

#searchField{
    width: 25%;
}

#searchSubmit{
    font-size: 20px;
}

#resultsContainer{
	width: 100%;
	text-align: center;
}

ul{
	list-style-type: none;
}

li{
	height: 60px;
	width: 50%;
	border-style: solid;
	border-radius: 3px;
	border-width: 1.5px;
	background-color: #99D6FF;
	margin-top: 15px;
	display: inline-block;
	text-align: left;
}

.listTable{
	display: table;
	table-layout: fixed;
	width: 100%;
}

.listItem{
	display: table-row;
}

.listData{
	display: table-cell;
	width: 80%;
}

.listRating{
	display: table-cell;
	width: 20%;
}